:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --gradient: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --Gradient2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
}

html,
body {
  margin: 0;
  /* height: 100%; */
  /* min-height: 100vh; */
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-image: linear-gradient(
    180deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  /* border: 1px solid orange; */
}

.container {
  display: inherit;
  flex-direction: column;
  flex: 1 0 auto;
  border: 2px dotted red;
}

.logo {
  padding: 35px 20px 35px 40px;
  border: 2px solid dodgerblue;
}

.logo img {
  width: 7.5rem;
  object-fit: cover;
  /* border: 1px solid fuchsia; */
}

.hero-image {
  display: flex;
  /* flex-wrap: wrap; */
  border: 2px solid darkcyan;
}

.hero-image img {
  max-width: 100%;
}

.hero {
  content: url("images/hero-mobile.jpg");
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--Desaturated-Red);
  padding: 30px;
  border: 2px solid dodgerblue;
}

.content h2 {
  font-size: 40px;
  letter-spacing: 13px;
  text-transform: uppercase;
  font-weight: 300;
  border: 1px solid blue;
}

.content h2 strong {
  color: initial;
}

.content p {
  text-align: center;
  /* border: 1px solid blue; */
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border: 1px solid red;
}

.input-form {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  /* border: 2px dotted orange; */
}

input {
  flex: 2;
  padding: 1em 2em;
  border-radius: inherit;
  border: 1px solid hsl(0, 36%, 70%);
  background: transparent;
  /* border: 2px dotted orange; */
}

input::placeholder {
  color: var(--Desaturated-Red);
}

.btn-submit {
  align-self: flex-end;
  position: absolute;
  height: 3.3em;
  width: 5em;
  margin-left: 0;
  background-image: linear-gradient(
    to right,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  box-shadow: 0 15px 20px 0 rgba(198, 110, 110, 0.25);
  border-radius: 50px;
  border: none;
  /* border: 1px solid blue; */
}

.fa {
  display: none;
  align-self: flex-end;
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 0.4em 4.5em 0 0;
  /* border: 1px solid green; */
}

.fa-exclamation-circle {
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.message {
  display: none;
  /* display: flex; */
  text-align: initial !important;
  margin-top: 0;
  color: var(--Soft-Red);
  font-size: 13px;
  padding-left: 1.7em;
  padding-top: 0.5em;
}

.message-error {
  display: block;
}

.fa-error {
  display: initial;
}

footer {
  text-align: center;
  flex-shrink: 0;
  padding: 5px;
  background-color: rgba(185, 182, 211, 0.4);
  border: 1px solid blue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 376px) {
  body {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .hero-image {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: initial;
  }

  .logo {
    position: absolute;
  }

  .hero-image {
    order: 3;
  }

  .hero {
    content: url("images/hero-desktop.jpg");
  }

  .content {
    text-align: start;
    justify-content: center;
  }

  .content h2 {
    font-size: 3.5em;
  }

  .content p {
    text-align: start;
    border: 1px solid blue;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1150px) {
  .content {
    padding: 15em 4em 5em 4em;
  }
}

@media screen and (min-width: 1150px) {
  .content {
    padding: 15em 5em 5em 5em;
  }
}

@media screen and (min-width: 1220px) {
  .content {
    padding: 15em 10em 5em 8em;
    /* padding: 15em 5em 5em 5em; */
  }
}
