:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  /* --gradient: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --Gradient2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%); */
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-color: hsl(252, 3%, 32%);
  /* background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)); */
}

.container {
  display: inherit;
  flex-direction: column;
  flex: 1 0 auto;
  border: 2px solid chartreuse;
}

.logo {
  display: flex;
  padding: 35px 20px 35px 40px;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  border: 1px solid red;
}

.logo img {
  width: 8rem;
  border: 1px solid fuchsia;
}

.hero-image {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid cyan;
}

.hero-image img {
  max-width: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--Desaturated-Red);
  padding: 30px;
  border: 1px solid fuchsia;
}

.content h2 {
  font-size: 40px;
  letter-spacing: 13px;
  text-transform: uppercase;
  font-weight: 300;
  /* margin-bottom: 40px; */
  border: 1px solid blue;
}

.content h2 strong {
  color: initial;
}

p {
  text-align: center;
  border: 1px solid blue;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border: 1px solid red;
}

.input-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px dotted orange;
}

input {
  flex: 2;
  padding: 1.5em 1.5em;
  border-radius: 50px;
  border: 1px solid hsl(0, 36%, 70%);
  background: transparent;
}

input::placeholder {
  color: var(--Desaturated-Red);
}

.btn-submit {
  align-self: flex-end;
  position: absolute;
  height: 4.5em;
  width: 6em;
  margin-left: 0;
  background-image: linear-gradient(
    to right,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  border-radius: 50px;
  border: none;
}

footer {
  text-align: center;
  flex-shrink: 0;
  padding: 5px;
  background-color: rgba(185, 182, 211, 0.4);
  border: 1px solid blue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}